<h1>Lista de Pizzas</h1>

<ul>
    {{#each pizzas}}
        <li>{{this.nombre}}</li>
        <li>{{this.tam}}</li>
        <li>{{this.precio}}</li>
        <li>{{this.cantidad}}</li>
    {{/each}}
</ul>